body{
    background-color: black;
      color:aliceblue
}

li{
  font-size: 19px;
  color:brown
}

h1{
  color:white;
}

#html{
  color:deeppink;
}

#css{
  color:cornflowerblue
}

#JavaScript{
  color:brown
}